.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100px;
  height: 100px;
  background-image: url("lb.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.addButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1000;
  gap: 20px;
}
